---
import { Image } from 'astro:assets'
import type { FrontmatterImage } from '@types'

interface Props {
  avatarImage?: FrontmatterImage
}
const { avatarImage } = Astro.props
---

<div class="my-6 md:mx-2">
  <div
    class="flex flex-col sm:flex-row items-center justify-around sm:gap-5 max-w-full -mb-7"
  >
    {
      avatarImage && (
        <Image
          src={avatarImage.src}
          alt={avatarImage.alt}
          class="rounded-full border-3 border-accent-black size-27 aspect-square"
        />
      )
    }
    <div>
      <div class:list={['m-4 max-w-full prose']}>
        <slot />
      </div>
    </div>
  </div>
</div>
